


.post-box {
  height:1000px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  text-align: center;

}
.post-explain{
  width: 300px;
  margin: 0px 0px 30px 100px;
  margin: 30px auto;
  background-color: orange;
  color: white;
  border: 1px solid white;

}
.bitterness-select {
  width: 300px;
  margin: 0px 0px 30px 100px;
  border: 1px solid white;
  margin: 0 auto 10px;
}

.aroma-select {
  width: 300px;
  margin: 00px 0px 30px 100px;
  border: 1px solid white;
  margin: 0 auto 10px;
}

.rate-select{
  width: 300px;
  margin: 0px 0px 30px 100px;
  border: 1px solid white;
  margin: 0 auto 10px;
}

.text {
  width: 300px;
  margin: 0px 0px 30px 100px;
  resize:none;
  padding: 15px;
  background-color: white;
  margin: 0 auto;
}

.genre-select{
  width: 300px;
  margin: 0px 0px 30px 100px;
  border: 1px solid white;
  margin: 0 auto 10px;
}

.btn {
  width: 200px;
  padding: 15px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  margin: 15px auto 15px;
}